[mysqld]
datadir=/usr/local/bin/mariadb/data
socket=/usr/local/bin/mariadb/mysql.sock
symbolic-links=0

[mysqld_safe]
log-error=/usr/local/bin/mariadb/log/error.log
pid-file=/usr/local/bin/mariadb/mariadb.pid

[client]
socket=/usr/local/bin/mariadb/mysql.sock
